.groups-near > h3 {
    padding-left:5%;
}


.groups-near > ul {
    display:flex;
    justify-content: space-around;
}

.groups-near > ul > p {
    font-weight:bold
}

.links {
    text-decoration: none;
    color:black
}

.links:hover {
    color:red;
}